.char-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "head ... hands"
    "neck ... waist"
    "shoulder ... legs"
    "back icon feet"
    "chest ... finger1"
    "tabard ... finger2"
    "shirt ... trinket1"
    "wrist ... trinket2"
    "mainHand ... offHand"
}
.head {
  grid-area: head;
}
.hands {
  grid-area: hands;
}
.neck {
  grid-area: neck;
}
.waist {
  grid-area: waist;
}
.shoulder {
  grid-area: shoulder;
}
.legs {
  grid-area: legs;
}
.back {
  grid-area: back;
}
.icon {
  grid-area: icon;
}
.feet {
  grid-area: feet;
}
.chest {
  grid-area: chest;
}
.finger1 {
  grid-area: finger1;
}
.tabard {
  grid-area: tabard;
}
.finger2 {
  grid-area: finger2
}
.shirt {
  grid-area: shirt;
  background-image: url(https://worldofwarcraft.akamaized.net/static/components/GameIcon/GameIcon-slots.png);
}
.trinket1 {
  grid-area: trinket1;
}
.wrist {
  grid-area: wrist;
}
.trinket2 {
  grid-area: trinket2;
}
.mainHand {
  grid-area: mainHand;
}
.offHand {
  grid-area: offHand;
}
.gear-piece {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: 
    "icon name"
    "icon ilevel";
  background-color: rgba(255, 255, 255, .7);
  padding-right: 15px;
}
.purple {
  border: 1px solid purple;
  color: purple;
  font-weight: 500;
}
.orange {
  border: 1px solid orangered;
  color: orangered;
  font-weight: 500;
}
.tan {
  border: 1px solid black;
  color: tan;
  font-weight: 500;
  text-shadow: 
    -1px -1px 0 #000,
  	1px -1px 0 #000,
  	-1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 1.5px;
}